<div class="row index-articles">
  <% @articles.each do |article| %>
    <div class="col-md-6 index_box">
      <h3 id="heading"><%= link_to article.name, article %></h3>
      <%=image_tag(article.image_url,class:"img-responsive")%>
      <p class="description"><%=article.description%></p> <br>
      <%article.featured_articles%>
      <p class="time"><%= article.created_at.to_formatted_s(:long) %>
      <%= "#{time_ago_in_words(article.created_at)} ago" %></p><hr>
      <p><%= link_to 'Show |', article %>
      <%= link_to 'Edit |', edit_article_path(article) %>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?'} %></p>
    </div>  
  <% end %>
<br>
  <%= link_to 'New Article', new_article_path, class:"btn btn-primary new-art-btn" %>
</div>

<%= render 'featured', featured: @featured %>

