<!DOCTYPE html>
<html>
  <head>
    <title>ENews</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  	<div class="container"><!-- container starts here -->
  		<div id="logo"><!-- logo area -->
  			<div class="row">
				  <div class="col-md-4"><%=image_tag("news.png", class: "img-responsive ")%></div>
				  <div class="col-md-4"></div>
				  <div class="col-md-4" id="logo_right"><!-- search area starts here -->
				  	
				  	</br></br></br></br>


				  	<div class="search_block">
					  	<%= form_tag("/articles", method: "get") do %>
							 	<%= text_field_tag(:q, nil, class: "form-control search_area",placeholder: "Search") %>
							  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  							  <span class="glyphicon glyphicon-search"></span> 
  							<% end %>
							<% end %>
						</div>
				  	


				  </div>
				</div>
			</div> <!-- logo area end here-->
  		<div><!-- headline area -->
  			<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <li class="navbar-brand active"><%= link_to 'HOME',root_path%></li>
				     
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li></li>

				        	<li><%= link_to 'Tech',tech_path%></li>
				        	<li><%= link_to 'World',world_path%></li>
				        	<li><%= link_to 'Health',health_path%></li>
				        	<li><%= link_to 'Sports',sports_path%></li>
				        	<li><%= link_to 'Business',business_path%></li>
				       		<li><%= link_to 'Contact us',sections_contact_path%></li>
				       		
								  <li id= "sign_in"><!-- sign in button -->
									  <% if user_signed_in? %>
									    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
									  <% else %>
									    <%= link_to('Login', new_user_session_path) %>
									  <% end %>
								  </li>
								</ul>
				     	</div><!-- /.navbar-collapse -->
				  	</div><!-- /.container-fluid -->
				</nav>
  		</div><!-- headlines end here-->
  		
  		<div class="articles-area">
  			<% if notice %> 
	  			<div class="alert alert-success glyphicon glyphicon-exclamation-sign fadeout" role="alert">
	  				<%= notice %>
	  			</div>
				<% end %>

				<% if alert %>
	  			<div class="alert alert-danger glyphicon glyphicon-exclamation-sign fadeout" role="alert">
	  				<%= alert %>
					</div>
				<% end %>

  			<%= yield %>
  		</div>
  	</div><!-- container ends here -->
   
			<div class="footer">
				@2017
			</div>

	
  </body>
</html>
